<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/header :: head}"/>
    <title>Create an account</title>
</head>
<body>
    <div th:replace="~{/fragments/navbar :: navbar-app}"/>
    <div class="container">
        <div th:if="${pageContext.request.userPrincipal.name} != null}">
            <form class="form" id ="logoutForm" method="POST" action="${pageContext.request.contextPath}/logout">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

            <h2>Welcome ${pageContext.request.userPrincipal.name} | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
        </div>
    </div>
  <div th:replace="~{/fragments/footer :: footer}"/>
</body>
</html>
