<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/header :: head}"/>
    <title>New answer</title>
</head>
<body th:object="${answer}">
    <div class="container">
        <form class="form" id="new" th:method="POST"
              th:action="@{/questions/{que_id}/answers/{answ_id}(que_id=${answer.getQuestion().getId()}, answ_id=${answer.getAnswer_id()})}">
            <!-- don't need in form 'new' <input hidden class="postToPatch" type="hidden" name="_method" value="PATCH" />-->

            <table class="table">
                <thead>
                <tr>
                    <th hidden>id</th>
                    <th hidden>question</th>
                    <th>stem</th>
                    <th>correct answer</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td hidden><div class="col-auto"><input hidden id="id" type="text" th:field="*{answer_id}" /></div></td>
                    <td hidden><div class="col-auto"><input hidden id="question" type="text" th:field="*{question}" /></div></td>
                    <td>
                        <div class="col-auto">
                            <label class="visually-hidden" for="stem">Answer Stem</label>
                            <input class="form-control" id="stem" type="text" placeholder="Any text" th:field="*{answer_stem}" />
                            <div class="form-text" id="error_stem" type="text" th:if="${#fields.hasErrors('stem')}" th:errors="*{answer_stem}" readonly="readonly">Error</div>

                            <!-- hidden fields error -->
                            <div class="form-text" id="error_id" th:if="${#fields.hasErrors('id')}" th:errors="*{answer_id}" readonly="readonly">Error</div>
                            <div class="form-text" id="error_question" th:if="${#fields.hasErrors('question')}" th:errors="*{question}" readonly="readonly">Error</div>
                        </div>
                    </td>
                    <td>
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="correctAnswerCheck" th:field="*{correctAnswer}">
                                <label class="form-check-label" for="correctAnswerCheck">
                                </label>
                            </div>
                            <div class="form-text" id="error_correctAnswer" type="text" th:if="${#fields.hasErrors('correctAnswer')}" th:errors="*{correctAnswer}" readonly="readonly">Error</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="edit_buttons_group">
        <div class="p-2 bg-light border">
            <div class="btn-group" role="group" aria-label="edit">
                <a class="btn btn-outline-secondary" type="button" role="button" th:href="@{/questions/{que_id}/answers/{ans_id}(que_id=${answer.getQuestion().getId()}, ans_id=${answer.getAnswer_id()})}">Back</a>
                <input class="btn btn-success" form="new" type="submit" value="Update" />
            </div>
        </div>
    </div>

    <div th:replace="~{/fragments/footer :: footer}"/>
</body>
</html>