<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Question</title>
    <div th:replace="~{/fragments/header :: head}"/>
</head>
<body th:object="${question}">
    <div th:replace="~{/fragments/navbar :: navbar-app}"/>

    <div class="container">
        <table class="table" >
            <thead>
                <tr>
                    <th hidden>Id</th>
                    <th>Title</th>
                    <th>Stem</th>
                    <th>Difficulty</th>
                    <th>Answers</th>
                    <th>Created at</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <div>
                        <td hidden=""><div th:text="${question.getId()}">Id</div></td>
                        <td>          <div th:text="${question.getTitle()}">Title</div></td>
                        <td>          <div th:text="${question.getStem()}">Stem</div></td>
                        <td>          <div th:text="${#strings.toLowerCase('__${question.getDifficulty()}__')}">Difficulty</div></td>
                        <td>
                            <div class="answers_list" th:unless="${#lists.isEmpty(question.answers)}">
                                <div th:each="answer : ${question.answers}">
                                    <div scope="row" th:name="|${answer.answerId}|" th:text="${answer.toString()} + ';'">Answer</div>
                                </div>
                            </div>
                        </td>
                        <td><div th:text="${#dates.format(question.createdAt, 'yyyy/MM/dd hh:mm:ss')}">Created at</div></td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="show_buttons_group">
        <div class="p-2 bg-light border">
            <div class="btn-group" role="group" aria-label="edit">
                <a class="btn btn-outline-secondary" type="button" role="button" th:href="@{/questions}">Back</a>
                <a class="btn btn-success"           type="button" role="button" th:href="@{/questions/{que_id}/edit(que_id=${question.getId()})}">Edit</a>
                <a class="btn btn-danger"            type="button" data-bs-toggle="modal" data-bs-target="#warningModal">Delete</a>
            </div>
        </div>
    </div>

    <!-- Modal window -->
    <div class="modal modal-warning fade in" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="warningModalLabel">Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <form class="form" id ="delete" th:method="DELETE" th:action="@{/questions/{que_id}(que_id=${question.getId()})}">
                        <div class="btn-group" role="group" aria-label="edit">
                            <input class="btn btn-danger"    type="submit" form="delete" value="Delete"/>
                            <input class="btn btn-secondary" type="button" data-bs-dismiss="modal" value="Cancel"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div th:replace="~{/fragments/footer :: footer}"/>
</body>
</html>